/* .pageTitle {
  color: deeppink;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: capitalize;
}
p {
  color: aqua;
  font-size: 34px;
  font-weight: 700;
}
.minoryTitle {
  color: green;
  font-size: 28px;
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(160, 148, 148);
}
.card{
    display: inline;
    background-color: #fff;
    width: 300px;
    min-height: 100px;
    box-shadow: 20px 55px 50px 1px rgb(117, 117, 117);
    /* margin-bottom: 35px;
    margin-top: 70px;
    margin-left: 15px; */
    margin: 20px;
    border-radius: 15px;
    float: left;
}

.userName{
    font-size: 25px;
    color: rgb(196, 109, 109);
    background-color: rgb(36, 36, 36);
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.userDesc{
    padding: 10px;
    margin-top: 15px;
    text-align: justify;
}

.userBtn{
    display: block;
    margin-left: 10px;
    width: 150px;
    height: 30px;
    background-color:rgb(36, 36, 36);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid red;
    border-radius: 15px;
    cursor: pointer; 
}
/* display: block - wyświetla jedno pod drugim */
/* display: inline - jeden obok drugiego + nie działa width i height */
/* display: inline-block - jeden obok drugiego i działa width, height */
/* display: none - nic nie wyswietla */



